<!doctype html>
<html lamg="ja">
    <head>
        <meta charset="utf-8">
        <title>トップ</title>
    </head>
    <body>
        <h2> Flask Web Tools</h2>
        <p>使いたい機能を選んでね</p>
        <u1>
            <li><a href="/upload">ファイルアップロード</a></li>
            <li><a href="/regression">単回帰グラフ</a></li>
            <li><a href="/predict">単回帰予測</a></li>
            <li><a href="/show">結果画像の表示</a></li>
            <li><a href="/download">ダウンロードファイル一覧</a></li>
            <li><a href="/description">使い方</a></li>
            <li><a href="/logout">ログアウト</a></li>
        </u1>
         <p><img src="c:\Users\koizumi\static\result.jpg" alt ="結果画像の表示"></p>
    </body>
</html>
